.roomlist-container {
  // background: rgba(26, 149, 231, 0);
  // background: rgba(255, 255, 255, 0.185);
  background: #e4e4e4;
  // border: 2px solid rgb(120, 216, 219);
  width: 30vw;
  min-width: 20rem;
  height: 65vh;
  // padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  // padding-left: 2rem;
  // padding-right: 4rem;
  box-shadow: 2rem 0.5rem 4rem rgb(10, 10, 10);
  z-index: 4;
  overflow: scroll;
}

.roomlist-title {
  color: #eee;
  font-size: 2.8rem;
  letter-spacing: 1.5rem;
  position: fixed;
  background: #111;
  z-index: 1;
  min-width: 20rem;
  width: 24%;
  display: inline-block;
  margin-left: 0;
  top: 0;
  padding-left: 5.5rem;
  padding-top: 0.2rem;
  min-height: 4.8rem;
  max-height: 4.8rem;
  cursor: default;
}

.roomlist-link {
  list-style: none;
  margin: 0.7rem 0.4rem;
  padding: 1.8rem 0.8rem;
  font-weight: 700;
  text-align: center;
}

.roomlist-linklist {
  margin-top: 8rem;
  padding: 0 2rem;
  // overflow: scroll;
}

.roomlist-chatlogo {
  width: 3.4rem;
  margin-top: 0.6rem;
  left: 1rem;
  position: absolute;
}
